body {
    font-family: 'Inter', sans-serif;
    background-color: #fefefe; /* Light background */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #2e2e2e; /* Dark text color */
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 14px; /* Rounded corners like the dashboard cards */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* Similar box shadow */
    width: 350px;
}

h2 {
    text-align: center;
    margin-bottom: 2rem; /* Increased margin */
    color: #3d4d3d; /* Similar heading color */
    font-weight: 700; /* Bold heading */
}

.form-group {
    margin-bottom: 1.5rem; /* Increased margin */
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-weight: 600; /* Semi-bold label */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 0.75rem 1rem; /* Increased padding */
    border: 1px solid #ccc;
    border-radius: 12px; /* Rounded input fields */
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #dce3da; /* Light green background */
    color: #1b411b; /* Dark green text */
    padding: 12px 20px;
    border: none;
    border-radius: 12px; /* Rounded button */
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-weight: 600; /* Semi-bold button text */
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #bfcdbf; /* Darker green on hover */
}

.error {
    color: #F44336; /* Red error message */
    margin-top: 1rem;
    text-align: center;
}

.form-group input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 0.5rem;
}

.form-group label[for="rememberMe"] {
    display: inline-block;
    font-weight: normal;
}
